!intelligence/FinalProject/report_2019028313.pdf
!intelligence/FinalProject/report_2019028313.docx

intelligence/datasets/
intelligence/**/*.pdf
intelligence/**/*.csv


DEEPLEARNING2022/datasets/
DEEPLEARNING2022/**/*.pdf
DEEPLEARNING2022/**/*.csv

Classification_images/resources/